
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #333;
$darkerGray: #222;
$darkGray: #333;
$gray: #4f5759;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Hiragino Kaku Gothic Pro, Open Sans, Helvetica, Arial, Meiryo, MS PGothic, sans-serif;
//$helvetica: Open Sans, Helvetica, Arial, Helvetica, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
